/* https://colorhunt.co/palette/177866 */
body {
  background-color:#F7F7F7;
  font-family:'Domine', serif;
  color:#5E6472;
  font-size: 16px;
  line-height:32px;
}

h1, h2, h3 {
  font-family:'Roboto', sans-serif;
}

h1 {
  color:#204051;
  font-size:32px;
  font-weight:700;
}

h2 {
  color:#3B6978;
  font-size:24px;
}

a {
  font-family:'Roboto', sans-serif;
  color: #84A9AC;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color:#black;
}

.container {
  width:700px;
  margin:60px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background:white;
  padding:30px 50px;
  box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
  border-radius:4px;
  margin: 30px 0px;
  text-align: center;
}

.btn-green {
  background-color:#3B6978;
  color: white;
  padding:15px 20px;
  border-radius:4px;
  text-decoration: none
}

.btn-green:hover {
  background-color:black;
  color:white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display:inline;
  padding:10px;
}

.list-inline i {
  font-size:50px;
  color :rgb(230,230,230);
}

.list-inline i:hover {
  color:black;
}

.list-inline img{
  width: 32px;
  height: 32px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
